.Sidebar_root__hUV6J.cart-sidebar {
  z-index: 99;
  box-shadow: 8px 12px 0px 0px rgba(0, 0, 0, 0.5);
}

[data-theme='light'] {
  .cart-list {
    border: none;
  }
}

.cart-sidebar {
  &-width {
    top: 100px;
    width: 725px;
    max-height: 80%;
    overflow-x: auto;
    right: 30px;
    padding: 38px;
    max-width: 725px;
    background-color: var(--theme-bg);
    box-shadow: 8px 12px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid var(--border);
    backdrop-filter: blur(25px);
  }

  .card-header {
    padding-bottom: 20px;
    margin-bottom: 33px;
    border-bottom: 1px solid var(--accents-7);
  }
}

.item-label {
  font-size: 13px;
  color: #595959;
  display: block;
  margin-bottom: 4px;
}

.item-price {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  font-family: var(--heading-fonts);

  @include mobile-small {
    font-size: 13px;
    line-height: 13px;
  }
}

.cart-list {
  border-radius: 4px;
  border: 1px solid #363636;
  background: var(--accents-6);
  padding: 0 25px;

  &-image {
    @include display-flex(flex);
    @include align-item(center);
    @include justify-content(center);
    width: 100px;
    height: 130px;

    img {
      object-fit: contain;
    }
  }

  &-content {
    width: 200px;
    padding-left: 30px;
    padding-right: 20px;
  }

  &-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    font-family: var(--heading-fonts);
    text-transform: uppercase;
    margin-bottom: 4px;
    display: block;

    @include mobile-small {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &-category-name {
    font-size: 16px;
    display: block;

    @include mobile-small {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &-qty {
    select {
      appearance: none;
      font-size: 16px;
      font-family: var(--heading-fonts);
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L5 3.93934L8.46967 0.46967C8.76256 0.176777 9.23744 0.176777 9.53033 0.46967C9.82322 0.762563 9.82322 1.23744 9.53033 1.53033L5.53033 5.53033C5.23744 5.82322 4.76256 5.82322 4.46967 5.53033L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 10px 6px;
    }
  }

  .btn {
    min-width: 103px;
    padding: 12.5px;
  }
}

.view-cart {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: -1.625px;
  transition: all 0.4s ease;
  font-family: var(--secondary-fonts);

  &:hover svg {
    transform: translateX(5px);
    transition: all 0.4s ease;
  }

  svg {
    margin-left: 10px;
    fill: var(--secondary);
    transition: all 0.4s ease;
  }
}

// Cart page
.cart-page {
  &-left {
    width: 775px;
    // order: -1;
    display: inline-block;

    @include tablet {
      width: 65%;
    }

    @include tablet-small {
      width: 100%;
    }

    .cart-item-detail-image {
      max-width: 102px;
    }
  }

  &-right {
    width: calc(100% - 775px);
    padding-left: 64px;
    position: sticky;
    top: 20.625vw;
    float: right;
    display: inline-block;
    vertical-align: top;
    order: 1;

    @include xl {
      top: 396px;
    }

    @include tablet {
      width: 35%;
    }

    @include tablet-small {
      width: 100%;
      padding-left: 0;
      display: block;
    }
  }
}

.sub-total {
  &-top {
    margin-bottom: 42px;
  }

  &-bottom {
    padding-top: 22px;
    border-top: 1px solid #343434;
  }

}

.checkout-btn a {
  max-width: 269px;
  margin: auto;
  padding: 27px;
}

[data-theme='light'] {
  .sub-total-bottom {
    border-color: var(--accents-7);
  }

  .cart-listing-item {
    border-color: #d3d3d3;
  }

  .options-details {
    span {
      color: #b3b3b3;
    }
  }
}

.cart-listing {
  background-color: var(--theme-bg);

  &-item {
    border-radius: 4px;
    border: 1px solid #363636;
    background-color: var(--accents-6);
  }

  .select-2 .css-1dimb5e-singleValue {
    font-weight: 700;
  }
}

.cart-option-details {
  font-size: 13px;
  line-height: 13px;
  font-family: var(--heading-fonts);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.options-details {
  letter-spacing: 0.96px;
  line-height: 19px;

  span {
    color: #6b6b6b;
  }
}

.cart-page {
  .cart-listing-item {
    margin-bottom: 20px;
  }

  .cart-options {
    border-top: 1px solid var(--accents-18);
    margin: 0 48px;
    padding: 42px 0;

    @include tablet-small {
      margin: 0 30px;
    }

    @include mobile-small {
      margin: 8px 20px;
    }
  }

  .cart-item-detail {
    padding: 8px 54px 18px 36px;
    
    @include tablet {
      padding: 8px 20px 8px 20px;
    }

    @include tablet-small {
      padding: 8px 30px 8px 30px;
    }

    @include mobile-small {
      padding: 8px 20px;
    }
  }
}

.cart-item-detail {
  &-image {
    margin-right: 35px;

    img {
      width: 102px;
      height: 114px;
      object-fit: contain;
      padding: 8px 0;

      @include tablet-small {
        width: 122px;
        height: 134px;
      }

      @include mobile-small {
        width: 128px;
        height: 144px;
        margin: 0;
      }
    }
  }

  &-heading {
    width: 110px;
    margin-right: 50px;

    @include tablet {
      margin-right: 20px;
    }

    @include mobile-small {
      @include flex-direction(column);
      @include align-item(flex-start);
    }

    .ml-auto {
      @include mobile-small {
        margin-left: 0;
      }
    }
  }

  &-qty {
    width: 62px;
    margin-right: 10px;

    @include mobile-small {
      width: 40px;
    }

    .select-2 {
      max-width: 30px;

      > div:nth-child(3) {
        padding-left: 0;
        border-bottom: 0;
      }
    }
  }

  &-detail-options {
    @include mobile-small {
      @include justify-content(flex-start);
    }
  }
}

.cart-list {
  &-qty {
    width: 57px;
    margin-right: 15px;

    .select-2 {
      max-width: 32px;

      .css-13cymwt-control {
        border: 0;
      }
    }
  }

  &-total {
    width: 105px;
    margin-right: 15px;
  }

  .btn {
    background-color: var(--hover-1);
  }
}

.sub-total {
  .cart-subtotal-label {
    font-size: 14px;
    line-height: 18px;
    color: #666;
  }

  .cart-subtotal-value {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: var(--heading-fonts);
  }

  .cart-total-label {
    font-size: 16px;
    line-height: 18px;
    color: #666;
  }

  .cart-total-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    font-family: var(--heading-fonts);
  }
}

.cart-edit-detail-options {
  @include mobile-small {
    margin-left: 16px;
    @include justify-content(flex-start);
  }

  &:last-child {
    button:last-child {
      margin-right: 0;
    }
  }

  * {
    font-size: 13px;
    letter-spacing: -1.625px;
    color: var(--accents-8);
    text-transform: uppercase;
    position: relative;
    margin: 0 10px;
    font-family: var(--secondary-fonts);

    &:hover {
      color: var(--secondary);
    }

    &:after {
      content: ' ';
      background-color: #898989;
      width: 1px;
      height: 90%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: -11px;
      bottom: 0;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.cart-popup-empty {
  svg {
    fill: var(--secondary);
  }
}
.cart-account-page {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.alert-box {
  border: 1px solid #f44336;
  border-radius: 4px;
}