[data-theme='light'] {
  .menu-description {
    background: var(--menu-bg-light);
  }
}

body {
  .homepage {
    .header {
      position: relative;

      .header-inner {
        @include tablet {
          padding-top: 70px;
        }

        @include mobile {
          padding: 70px 30px 0;
        }
      }
    }
  }

  .header-inner {
    width: 100%;
    padding: 40px 40px 0;
    position: relative;

    @include mobile {
      padding: 30px 20px 0;
    }
  }

  .header,
  .category-header {
    background-color: transparent;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;

    .header-left {
      @include tablet-small {
        width: 100%;
        justify-content: space-between;
      }

      nav {
        margin-left: 0;

        li {
          &:hover {
            .category-heading {
              color: var(--secondary);

              &:before {
                display: inline-block;
              }
            }

            .mega-menu {
              -webkit-transition: 1s;
              /* For Safari 3.1 to 6.0 */
              transition: 1s;
              visibility: visible;
              -webkit-animation-name: fadeIn;
              animation-name: fadeIn;
            }
          }
        }

        .desktops {
          order: 0;
        }

        .laptops {
          order: 1;
        }

        .cases {
          order: 2;
        }

        .store {
          order: 3;
        }

        .about {
          order: 4;
        }

        .category-heading {
          color: var(--navigations);
          font-weight: 700;
          text-transform: capitalize;
          margin-left: 0;
          margin-right: 45px;
          position: relative;
          font-family: var(--heading-fonts);
          letter-spacing: -0.56px;

          &:hover {
            color: var(--secondary);
            cursor: pointer;

            &::after {
              content: '';
              width: 100%;
              height: 40px;
              display: block;
              position: absolute;
              top: 12px;
            }
          }

          &:before {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--secondary);
            display: none;
            left: -12px;
          }
        }

        > ul {
          padding-left: 0;
        }
      }
    }
  }
}

// Sale Banner
.sale-banner {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  padding: 7.5px 107.2px;
  line-height: normal;

  @include desktop-small {
    display: none;
    padding: 9px 10px;
  }

  @include tablet-small {
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }

  p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--secondary);
    margin-bottom: 0;
    font-family: var(--secondary-fonts);
    letter-spacing: -1.625px;

    @include mobile-small {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &.mobile {
    display: none;
    left: 30px;
    right: 30px;
    z-index: 1;

    @include tablet-small {
      display: block;
      top: 16px;
      margin: 0;
    }
  }
}
.modal.sale-modal {
  width: 67%;
  height: auto;
  max-height: 82%;
  padding: 0;
  z-index: 1;
  @include mobile {
    width: 378px;
    height: 350px;
  }
  img {
    height: 100%;
    @include mobile {
      object-position: center;
      object-fit: contain;
    }
  }
}
.sale-dialog {
  width: 100vw;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
  }
}

//Mega Menu
.mega-menu {
  visibility: hidden;
  position: absolute;
  top: 130%;
  left: 40px;
  width: 1110px;
  -webkit-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  border-radius: 4px;
  z-index: 5;

  @include desktop-small {
    width: 900px;
  }

  @include tablet {
    width: 780px;
    margin: auto;
  }

  &-content-box {
    margin-bottom: 38px;

    img {
      display: none;

      @include tablet-small {
        display: block;
        width: 100%;
        min-height: 160px;
        border-radius: 4px;
      }
    }

    &:hover {
      .mega-menu-heading {
        text-shadow: 0px 0px 2.944171905517578px $color-white,
          0px 0px 5.888343811035156px $color-white,
          0px 0px 20.609203338623047px $color-white,
          0px 0px 41.218406677246094px $color-white,
          0px 0px 70.66012573242188px $color-white,
          0px 0px 123.65522003173828px $color-white;
      }
    }
  }

  &-heading {
    margin: 0 0 3px;

    @include tablet-small {
      margin: -10px 0 0 15px;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.025em;
    }

    a {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.7px;
      text-decoration: none;
      text-transform: none;
      color: var(--secondary);

      @include tablet {
        font-size: 18px;
      }

      @include tablet-small {
        text-transform: uppercase;
      }
    }
  }

  &-description {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.78px;
    color: var(--accents-5);
    @extend .m-0;

    @include tablet {
      font-size: 13px;
    }

    @include tablet-small {
      margin-top: 8px;
      margin-left: 15px;
    }
  }
}

.menu-bg-img {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 489px;
  box-shadow: 8px 12px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  border-radius: 4px;

  @include desktop-small {
    min-height: 400px;
    background-size: cover;
  }

  @include tablet {
    min-height: 380px;
  }
}

.menu-description {
  @include display-flex(flex);
  @include flex-direction(column);
  padding: 70px 52px 70px 70px;
  width: 376px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  min-height: 489px;
  position: relative;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: 42px;
    bottom: 42px;
    right: 0;
    border-right: 1px solid #363636;
  }

  @include desktop-small {
    min-height: 400px;
  }

  @include tablet {
    width: 320px;
    min-height: 380px;
    padding: 40px;
  }

  @include tablet-small {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1) 0s;
    bottom: auto;
    height: 100%;
    overflow: auto;
    min-height: auto;
    background-color: var(--primary);
    padding: 0 20px;
  }
}

.mega-menu.about-menu {
  background-color: var(--primary);
  width: 725px;
  transition: 0.5s;
  box-shadow: 8px 12px 0px 0px rgba(0, 0, 0, 0.5);
  z-index: 4;

  @include tablet {
    left: 0;
    right: 0;
    margin: auto;
  }

  @include tablet-small {
    width: 100%;
    display: block;
    position: relative;
    top: auto;
    height: 100%;
    padding: 0 23px;
    visibility: visible;
  }

  .menu-description {
    backdrop-filter: none;
    width: 100%;
    padding: 54px 35px 54px;
    min-height: auto;

    &:after {
      display: none;
    }
  }

  .about-col {
    @extend .d-flex;

    @include tablet-small {
      flex-direction: column;
    }
  }

  .mega-menu-heading {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.7px;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary);
    margin: 0 0 15px;
    text-shadow: none;
  }

  .about-list {
    padding: 0 50px;
    min-width: 215px;

    @include tablet-small {
      padding: 0 0;

      + .about-list {
        margin-top: 80px;
      }
    }
  }

  ul li {
    a {
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      font-family: var(--body-fonts);
      color: var(--accents-3);

      &:hover {
        color: var(--secondary);
      }
    }
  }

  .mega-menu-content-box {
    margin-bottom: 0;

    @include tablet-small {
      height: 100%;
    }

    > div:first-child {
      height: calc(100% - 215px);
      overflow: auto;
    }
  }
}

.mega-menu-content-box .about-support:hover {
  p,
  a {
    color: var(--secondary);
  }
}
[data-theme='light'] {
  .about-support {
    &:hover {
      svg {
        fill: #4ddc41;
      }
    }
  }
}
.about-support {
  position: relative;
  @extend .d-flex;
  @extend .align-v-center;
  background-color: var(--hover-1);
  border-radius: 182px;
  padding: 22px 65px;
  margin-top: 55px;
  position: relative;

  @include tablet-small {
    border-top: 1px solid #3a3a3a;
    border-radius: 0;
    margin-top: 46px;
    background-color: transparent;
    padding: 25px 0 0;
    @include justify-content(center);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    &::before {
      display: block;
    }
    > svg,
    .support-content {
      z-index: 1;
    }
    svg {
      fill: #b5e2b1;
      filter: drop-shadow(5px 1px 54px #52ff00);
    }
  }
  &::before {
    content: '';
    display: none;
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 182px;
    background-color: rgba(88, 255, 73, 0.2);
    filter: blur(38px);
  }
  .support-content {
    margin-left: 22px;

    @include tablet-small {
      margin-left: 0;
      padding-left: 15px;
      width: calc(100% - 70px);
      max-width: 217px;
    }
  }

  a {
    font-size: 16px;
    color: var(--accents-0);
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    font-family: var(--body-fonts);

    @include mobile {
      font-size: 13px;
      line-height: 13px;
      margin-bottom: 1px;
      word-break: break-all;
    }
  }

  p {
    font-size: 16px;
    @extend .m-0;
    color: var(--accents-0);

    @include mobile {
      font-size: 13px;
      line-height: 13px;
    }
  }

  .call {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    font-family: var(--heading-fonts);
    color: var(--secondary);
    margin-bottom: 10px;
  }

  svg {
    width: 138px;
    height: 140px;
    fill: var(--accents-1);

    @include mobile {
      width: 70px;
      height: 70px;
    }
  }
}

.header-right {
  @include tablet-small {
    display: none;
  }

  li {
    margin-right: 15px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cart {
  width: 19px;
  height: 18px;
  position: relative;

  svg {
    width: 19px;
    height: 18px;
    stroke: var(--secondary);
  }
}

.cart-item {
  font-size: 10px;
  line-height: 9px;
  position: absolute;
  top: -5px;
  left: 30%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  @include display-flex(flex);
  @include align-item(center);
  @include justify-content(center);
  color: var(--primary);
  background-color: var(--secondary);
}

.currency {
  position: relative;

  a {
    font-size: 12px;
    line-height: 9.6px;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding: 3.5px 7.5px 2.5px;
    border: 1px solid var(--secondary);
    border-radius: 32px;
    color: var(--secondary);
    font-family: var(--heading-fonts);
  }
}

.account {
  width: 15px;
  height: 17px;

  @include mobile {
    width: 14px;
    height: 15px;
  }

  svg {
    stroke: var(--secondary);

    @include mobile {
      width: 14px;
      height: 15px;
    }
  }

  &.no-video {
    margin-right: 0;
  }
}

.header-right .volume,
.volume {
  width: 33px;
  height: 33px;
  background-color: var(--hover);
  border-radius: 100%;
  @extend .d-flex;
  @extend .align-v-center;
  @extend .justify-center;
  position: relative;
  margin-right: 0;

  @include mobile {
    display: none;
  }

  &::before {
    content: '';
    width: 33px;
    height: 33px;
    background-color: var(--hover);
    border-radius: 100%;
    position: absolute;
  }

  &.is-muted {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--secondary);
      transform: rotate(-45deg);
      z-index: 1;
    }
  }

  svg {
    stroke: var(--secondary);
  }

  @include tablet-small {
    display: none;
  }
}

.header li.close {
  display: none;
  width: 13px;
  height: 13px;

  @include tablet-small {
    display: block;
  }
}

.head-top {
  @extend .justify-space-end;
}

.logo {
  padding-right: 0;
  margin-right: 60px;

  @include tablet {
    margin-right: 30px;
  }

  @include mobile {
    margin-right: 0;
    max-width: 50px;
  }

  img {
    width: 81px;
    height: 47px;
    object-fit: contain;

    @include tablet {
      width: 60px;
      height: 35px;
    }

    @include mobile {
      width: 50px;
      height: 29px;
    }
  }
}

body .UserNav_root__7GZb3 {
  margin-left: 52px;

  @include desktop-small {
    margin-left: 20px;
  }
}

body .UserNav_item__Tv14Y button {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
}

// Mobile-Menu
.mobile-menu-btn {
  display: none;

  @include tablet-small {
    display: block;
  }

  svg {
    stroke: var(--secondary);
  }
}

.mobile-menu {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  padding: 40px 45px;
  @extend .d-flex;
  @extend .flex-direction;
  @extend .justify-space;

  @include mobile {
    padding: 40px;
  }
  .UserNav_root__7GZb3 + div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .mobile-navigation {
    @extend .flex-direction;
    @extend .align-start;
    @include align-item(flex-end);
    margin-top: auto;
    margin-bottom: 0;
    // height: inherit;
    li {
      .category-heading {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        margin: 12.5px 0;
        text-transform: uppercase;
        color: var(--secondary);
        font-family: var(--heading-fonts);
        @extend .d-flex;
        @extend .align-v-center;

        &.is-open {
          + div {
            transform: translateX(-100%);
          }
        }
      }
    }

    .desktops {
      order: 0;
    }

    .laptops {
      order: 1;
    }

    .cases {
      order: 2;
    }

    .store {
      order: 3;
    }

    .about {
      order: 4;
    }
  }

  .sub-menu-heading {
    font-size: 24px;
    line-height: normal;
    font-weight: 700;
    color: var(--secondary);
    text-transform: uppercase;
    font-family: var(--heading-fonts);
    border-bottom: 1px solid #474747;
    padding: 14px 0;
    margin: 0 0 35px;
    @extend .d-flex;
    @extend .justify-space;
    @extend .align-v-center;

    svg {
      fill: var(--secondary);
    }
  }

  .UserNav_root__7GZb3 {
    ul li {
      margin: 0 0 0 18px;
    }

    .cart {
      svg {
        stroke: var(--secondary);
      }
    }
  }
}

.menu-opened {
  @include tablet-small {
    overflow: hidden;
    height: 100vh;

    .header-main.builder-block {
      position: fixed;
      height: 100vh;
      background-color: var(--primary);
      z-index: 9;
      padding: 0;
    }

    .header {
      z-index: 6;
    }
  }

  .mobile-menu {
    @include tablet-small {
      display: flex;
    }
  }
}

//category-header
body.menu-opened .category-header {
  height: 100%;
}
body .category-header {
  padding: 0 45px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);

  @include desktop-small {
    padding: 0 24px;
  }
  &:hover {
    .header-left {
      visibility: visible;
    }
  }
  .header-left {
    visibility: hidden;
    position: absolute;
    left: 185px;
    width: 35% !important;
    @include desktop-small {
      left: 140px;
    }
    @include tablet {
      display: none;
    }
    @include tablet-small {
      // display: block;
      width: 50% !important;
      visibility: visible;
      display: none !important;
      position: relative;
      left: 0;
      @include display-flex(flex);
      @include justify-content(flex-end);
    }
    .category-heading {
      @include desktop-small {
        // margin-right: 30px !important;
      }
    }
    .mega-menu {
      top: 50px;
      left: -22%;
    }
  }
  .category-inner {
    padding: 20px 0;
    border-bottom: 1px solid var(--border);
    @include tablet-small {
      @include flex-wrap(wrap);
      @include align-item(center);
    }
    @include mobile-small {
      padding: 8px 0;
    }

    > div {
      width: 33.33%;
      @include tablet-small {
        width: 50%;
      }
      @include mobile-small {
        width: 50%;
        text-align: left;
      }
    }

    .logo {
      margin: 0;
      max-width: none;
      @include tablet-small {
        margin-bottom: 14px;
        display: none;
      }
      .logo {
        margin: 0;
      }
    }
  }

  .logo {
    @include mobile-small {
      display: none;
    }
  }
  .text-center {
    @include tablet-small {
      text-align: left;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.48px;
    margin-bottom: 0;

    @include mobile-small {
      font-size: 16px;
      line-height: 17px;
      letter-spacing: -0.32px;
    }
  }

  &-right {
    li:not(.buy-now) {
      margin: 0 2px;

      @include tablet-small {
        display: none;
      }

      &:hover {
        border-radius: 90px;
        background: var(--hover);
      }

      a {
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -1.625px;
        font-family: var(--secondary-fonts);
        display: block;
        padding: 10.5px 10.4px 9.5px;
        cursor: pointer;

        @include tablet {
          padding: 10px 5.5px;
        }
      }
    }

    li.buy-now {
      margin-left: 15px;
      padding: 8px 15px;
      border: 1px solid var(--border);
      border-radius: 79px;
      font-family: var(--secondary-fonts);

      @include desktop-small {
        margin-left: 5px;
      }

      @include tablet {
        padding: 8px 12px;
      }

      @include mobile-small {
        padding: 6px 9.4px;
      }
      &:hover {
        cursor: pointer;
      }
      a {
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -1.625px;

        &:hover {
          border-color: var(--secondary);
        }

        @include mobile-small {
          font-size: 12px;
          line-height: 12px;
          letter-spacing: -0.24px;
        }
      }
    }
  }
}

.currency-list {
  width: 76px;
  padding: 16px 22px;
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid var(--border-1);
  box-shadow: 4px 6px 0 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;

  li {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -1.625px;
    color: var(--secondary);
    margin-right: 0;
    font-family: var(--secondary-fonts);
    @include tablet-small {
      margin-left: 0 !important;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.builder-carousel {
  img {
    @include tablet-small {
      object-fit: cover;
    }
  }

  video {
    @include tablet-small {
      aspect-ratio: 16/9;
    }
  }

  .builder-block {
    div {
      @include mobile {
        height: 100%;
      }
    }
  }
}
