[data-theme='light'] {
  .mega-menu-content-box:hover .mega-menu-heading {
    text-shadow: none;
  }
}

[data-theme='light'] {
  .learn-more a:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' fill='none'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M.799 6.637a.68.68 0 0 1 .68-.68H15.07a.68.68 0 0 1 0 1.36H1.479a.68.68 0 0 1-.68-.68Z' fill='%23000'/%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M9.152.842a.68.68 0 0 1 .962-.012l5.474 5.338a.68.68 0 0 1 0 .973l-5.474 5.338a.68.68 0 1 1-.95-.973l4.975-4.852-4.975-4.85a.68.68 0 0 1-.012-.962Z' fill='%23000'/%3E%3C/svg%3E");
  }
}

.homepage {
  .container {
    max-width: 100%;
  }
}

@keyframes run {
  from {
    width: 8px;
  }

  to {
    width: 36px;
  }
}

.hero-carousel {
  .slick-dots {
    bottom: 34px;
    left: 44px;
    line-height: 0;
    text-align: left;

    @include mobile {
      left: 18px;
    }

    li {
      width: 8px;
      height: 8px;
      margin: 0 5px;
      // transition: all 0.4s ease;
      // transition: all 0.85s cubic-bezier(0.68, 0, 0.265, 0);

      button {
        width: 8px;
        height: 8px;
        padding: 0;
        transition: all 0.85s cubic-bezier(0.68, 0, 0.265, 0);

        &::before {
          font-size: 0;
          line-height: 0;
          width: 8px;
          height: 8px;
          border-radius: 56px;
          background-color: var(--secondary);
          opacity: 0.5;
        }
      }

      &.slick-active {
        width: 36px;
        // transition: all 0.6s cubic-bezier(0.68, 0, 0.265, 0);

        button {
          width: 36px;
          transition: all .6s ease-in-out;
          // transition: all 0.6s cubic-bezier(0.68, 0, 0.265, 0);

          &::before {
            width: 36px;
            transition: all .6s ease-in-out;
            opacity: 1;
            background-color: $color-white;
          }
        }
      }
    }
  }

  .css-1pe5g7r {
    padding-top: 47.3%;
  }

  .carousel-video {
    @extend .d-flex;
    @extend .justify-center;
  }
}

.builder-carousel {
  .builder-blocks {
    @include display-flex(flex);
  }
}

.learn-more {
  margin: 28px 0 0;
  position: relative;
  display: inline-flex;

  @include mobile {
    margin: 15px 0 0;
  }

  a {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 400;
    font-family: var(--body-fonts);

    @include mobile {
      font-size: 13px;
    }

    &:hover {
      &:after {
        transform: translateX(10px);
        transition: all 0.4s ease;
      }
    }

    &:after {
      content: '';
      width: 15px;
      height: 12px;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M0.798828 6.6367C0.798828 6.26113 1.10329 5.95667 1.47887 5.95667H15.0706C15.4461 5.95667 15.7506 6.26113 15.7506 6.6367C15.7506 7.01228 15.4461 7.31674 15.0706 7.31674H1.47887C1.10329 7.31674 0.798828 7.01228 0.798828 6.6367Z' fill='white'/%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M9.15216 0.841609C9.41438 0.572723 9.84492 0.567315 10.1138 0.82953L15.5877 6.16758C15.7189 6.29556 15.7929 6.47112 15.7929 6.65444C15.7929 6.83776 15.7189 7.01331 15.5877 7.1413L10.1138 12.4793C9.84492 12.7416 9.41438 12.7362 9.15216 12.4673C8.88995 12.1984 8.89535 11.7678 9.16424 11.5056L14.1388 6.65444L9.16424 1.80325C8.89535 1.54104 8.88995 1.11049 9.15216 0.841609Z' fill='white'/%3E%3C/svg%3E");
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.39971 6.79995C0.957878 6.79995 0.599707 6.44178 0.599707 5.99995C0.599707 5.55812 0.957878 5.19995 1.39971 5.19995C1.84153 5.19995 2.19971 5.55812 2.19971 5.99995C2.19971 6.44178 1.84153 6.79995 1.39971 6.79995Z' fill='white'/%3E%3Cpath d='M2.89971 6.79995C2.45788 6.79995 2.09971 6.44178 2.09971 5.99995C2.09971 5.55812 2.45788 5.19995 2.89971 5.19995C3.34153 5.19995 3.69971 5.55812 3.69971 5.99995C3.69971 6.44178 3.34153 6.79995 2.89971 6.79995Z' fill='white'/%3E%3Cpath d='M4.39971 6.79995C3.95788 6.79995 3.59971 6.44178 3.59971 5.99995C3.59971 5.55812 3.95788 5.19995 4.39971 5.19995C4.84153 5.19995 5.19971 5.55812 5.19971 5.99995C5.19971 6.44178 4.84153 6.79995 4.39971 6.79995Z' fill='white'/%3E%3Cpath d='M5.89971 6.79995C5.45788 6.79995 5.09971 6.44178 5.09971 5.99995C5.09971 5.55812 5.45788 5.19995 5.89971 5.19995C6.34153 5.19995 6.69971 5.55812 6.69971 5.99995C6.69971 6.44178 6.34153 6.79995 5.89971 6.79995Z' fill='white'/%3E%3Cpath d='M7.39971 6.79995C6.95788 6.79995 6.59971 6.44178 6.59971 5.99995C6.59971 5.55812 6.95788 5.19995 7.39971 5.19995C7.84153 5.19995 8.19971 5.55812 8.19971 5.99995C8.19971 6.44178 7.84153 6.79995 7.39971 6.79995Z' fill='white'/%3E%3Cpath d='M8.89971 6.79995C8.45788 6.79995 8.09971 6.44178 8.09971 5.99995C8.09971 5.55812 8.45788 5.19995 8.89971 5.19995C9.34153 5.19995 9.69971 5.55812 9.69971 5.99995C9.69971 6.44178 9.34153 6.79995 8.89971 6.79995Z' fill='white'/%3E%3Cpath d='M10.4998 6.79995C10.058 6.79995 9.6998 6.44178 9.6998 5.99995C9.6998 5.55812 10.058 5.19995 10.4998 5.19995C10.9416 5.19995 11.2998 5.55812 11.2998 5.99995C11.2998 6.44178 10.9416 6.79995 10.4998 6.79995Z' fill='white'/%3E%3Cpath d='M11.9998 6.79995C11.558 6.79995 11.1998 6.44178 11.1998 5.99995C11.1998 5.55812 11.558 5.19995 11.9998 5.19995C12.4416 5.19995 12.7998 5.55812 12.7998 5.99995C12.7998 6.44178 12.4416 6.79995 11.9998 6.79995Z' fill='white'/%3E%3Cpath d='M13.4998 6.79995C13.058 6.79995 12.6998 6.44178 12.6998 5.99995C12.6998 5.55812 13.058 5.19995 13.4998 5.19995C13.9416 5.19995 14.2998 5.55812 14.2998 5.99995C14.2998 6.44178 13.9416 6.79995 13.4998 6.79995Z' fill='white'/%3E%3Cpath d='M14.9998 6.79995C14.558 6.79995 14.1998 6.44178 14.1998 5.99995C14.1998 5.55812 14.558 5.19995 14.9998 5.19995C15.4416 5.19995 15.7998 5.55812 15.7998 5.99995C15.7998 6.44178 15.4416 6.79995 14.9998 6.79995Z' fill='white'/%3E%3Cpath d='M16.5999 6.79995C16.1581 6.79995 15.7999 6.44178 15.7999 5.99995C15.7999 5.55812 16.1581 5.19995 16.5999 5.19995C17.0417 5.19995 17.3999 5.55812 17.3999 5.99995C17.3999 6.44178 17.0417 6.79995 16.5999 6.79995Z' fill='white'/%3E%3Cpath d='M15.3001 7.39993C14.8583 7.39993 14.5001 7.04175 14.5001 6.59993C14.5001 6.1581 14.8583 5.79993 15.3001 5.79993C15.7419 5.79993 16.1001 6.1581 16.1001 6.59993C16.1001 7.04175 15.7419 7.39993 15.3001 7.39993Z' fill='white'/%3E%3Cpath d='M14.5003 7.39993C14.0585 7.39993 13.7003 7.04175 13.7003 6.59993C13.7003 6.1581 14.0585 5.79993 14.5003 5.79993C14.9421 5.79993 15.3003 6.1581 15.3003 6.59993C15.3003 7.04175 14.9421 7.39993 14.5003 7.39993Z' fill='white'/%3E%3Cpath d='M14.0003 8.19998C13.5585 8.19998 13.2003 7.8418 13.2003 7.39997C13.2003 6.95815 13.5585 6.59998 14.0003 6.59998C14.4421 6.59998 14.8003 6.95815 14.8003 7.39997C14.8003 7.8418 14.4421 8.19998 14.0003 8.19998Z' fill='white'/%3E%3Cpath d='M12.9002 9.09988C12.4584 9.09988 12.1002 8.74171 12.1002 8.29988C12.1002 7.85805 12.4584 7.49988 12.9002 7.49988C13.342 7.49988 13.7002 7.85805 13.7002 8.29988C13.7002 8.74171 13.342 9.09988 12.9002 9.09988Z' fill='white'/%3E%3Cpath d='M12.0003 10.3999C11.5585 10.3999 11.2003 10.0418 11.2003 9.59993C11.2003 9.1581 11.5585 8.79993 12.0003 8.79993C12.4421 8.79993 12.8003 9.1581 12.8003 9.59993C12.8003 10.0418 12.4421 10.3999 12.0003 10.3999Z' fill='white'/%3E%3Cpath d='M11.4002 11.7999C10.9584 11.7999 10.6002 11.4418 10.6002 11C10.6002 10.5581 10.9584 10.2 11.4002 10.2C11.842 10.2 12.2002 10.5581 12.2002 11C12.2002 11.4418 11.842 11.7999 11.4002 11.7999Z' fill='white'/%3E%3Cpath d='M15.3001 6.19998C14.8583 6.19998 14.5001 5.8418 14.5001 5.39997C14.5001 4.95815 14.8583 4.59998 15.3001 4.59998C15.7419 4.59998 16.1001 4.95815 16.1001 5.39997C16.1001 5.8418 15.7419 6.19998 15.3001 6.19998Z' fill='white'/%3E%3Cpath d='M14.5003 6.19998C14.0585 6.19998 13.7003 5.8418 13.7003 5.39997C13.7003 4.95815 14.0585 4.59998 14.5003 4.59998C14.9421 4.59998 15.3003 4.95815 15.3003 5.39997C15.3003 5.8418 14.9421 6.19998 14.5003 6.19998Z' fill='white'/%3E%3Cpath d='M14.0003 5.39993C13.5585 5.39993 13.2003 5.04175 13.2003 4.59993C13.2003 4.1581 13.5585 3.79993 14.0003 3.79993C14.4421 3.79993 14.8003 4.1581 14.8003 4.59993C14.8003 5.04175 14.4421 5.39993 14.0003 5.39993Z' fill='white'/%3E%3Cpath d='M12.9002 4.39993C12.4584 4.39993 12.1002 4.04175 12.1002 3.59993C12.1002 3.1581 12.4584 2.79993 12.9002 2.79993C13.342 2.79993 13.7002 3.1581 13.7002 3.59993C13.7002 4.04175 13.342 4.39993 12.9002 4.39993Z' fill='white'/%3E%3Cpath d='M12.0003 3.19998C11.5585 3.19998 11.2003 2.8418 11.2003 2.39998C11.2003 1.95815 11.5585 1.59998 12.0003 1.59998C12.4421 1.59998 12.8003 1.95815 12.8003 2.39998C12.8003 2.8418 12.4421 3.19998 12.0003 3.19998Z' fill='white'/%3E%3Cpath d='M11.4002 1.79995C10.9584 1.79995 10.6002 1.44178 10.6002 0.999951C10.6002 0.558124 10.9584 0.199951 11.4002 0.199951C11.842 0.199951 12.2002 0.558124 12.2002 0.999951C12.2002 1.44178 11.842 1.79995 11.4002 1.79995Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      transition: all 0.4s ease;

      @include tablet-small {
        width: 11px;
        height: 8px;
        margin-left: 7px;
      }

      @include mobile-small {
        width: 10px;
      }
    }
  }
}

.product-card {
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .bg-img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 344px;

    @include desktop {
      min-height: 280px;
    }

    @include tablet {
      min-height: 22.205vw;
    }

    @include tablet-small {
      min-height: 220px;
    }

    @include mobile-small {
      min-height: 165px;
    }
  }
}
