.absolute-heading {
  position: relative;
  max-width: 1030px;
}

.account-heading {
  font-size: 128px;
  line-height: 128px;
  letter-spacing: -0.02em;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  color: var(--secondary);
  mix-blend-mode: normal;
  text-shadow: 0px 0px 123.655px #ffffff, 0px 0px 70.6601px #ffffff,
    0px 0px 41.2184px #ffffff, 0px 0px 20.6092px #ffffff,
    0px 0px 5.88834px #ffffff, 0px 0px 2.94417px #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  right: -10.417vw;

  @include xl {
    right: -200px;
  }

  @include tablet {
    font-size: 100px;
    line-height: 100px;
    right: -6.417vw;
  }

  @include tablet {
    font-size: 85px;
    line-height: 75px;
    right: 10px;
  }

  @include tablet-small {
    font-size: 64px;
    line-height: 64px;
    top: 86px;
    transform: translateX(0);
    left: auto;
    right: 10px;
  }
}

/* Common Structure box with bg for account pages Scss End. */

.acc-or-signup {
  font-size: 15px;
  line-height: 15px;
  font-family: var(--body-fonts);
  color: #8e8e8e;
  margin-top: 35px;
  text-align: center;
  width: 100%;
  @extend .flex;
  @extend .justify-center;

  @include mobile {
    margin-top: 20px;
  }

  .link {
    font-size: 13px;
    line-height: 13px;
    color: var(--secondary);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 8px;
    letter-spacing: -1.625px;
    font-family: var(--secondary-fonts);

    &:after {
      content: '';
      display: inline-block;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M0.421875 5.62891C0.421875 5.35276 0.645733 5.12891 0.921875 5.12891H14.0381C14.3143 5.12891 14.5381 5.35276 14.5381 5.62891C14.5381 5.90505 14.3143 6.12891 14.0381 6.12891H0.921875C0.645733 6.12891 0.421875 5.90505 0.421875 5.62891Z' fill='white'/%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M8.43089 0.475016C8.61728 0.271267 8.93355 0.257193 9.13729 0.443582L14.4197 5.27587C14.5232 5.37059 14.5822 5.50446 14.5822 5.64479C14.5822 5.78513 14.5232 5.919 14.4197 6.01372L9.13729 10.846C8.93355 11.0324 8.61728 11.0183 8.43089 10.8146C8.2445 10.6108 8.25857 10.2946 8.46232 10.1082L13.3414 5.64479L8.46232 1.18142C8.25857 0.995035 8.2445 0.678765 8.43089 0.475016Z' fill='white'/%3E%3C/svg%3E");
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.39971 6.79995C0.957878 6.79995 0.599707 6.44178 0.599707 5.99995C0.599707 5.55812 0.957878 5.19995 1.39971 5.19995C1.84153 5.19995 2.19971 5.55812 2.19971 5.99995C2.19971 6.44178 1.84153 6.79995 1.39971 6.79995Z' fill='white'/%3E%3Cpath d='M2.89971 6.79995C2.45788 6.79995 2.09971 6.44178 2.09971 5.99995C2.09971 5.55812 2.45788 5.19995 2.89971 5.19995C3.34153 5.19995 3.69971 5.55812 3.69971 5.99995C3.69971 6.44178 3.34153 6.79995 2.89971 6.79995Z' fill='white'/%3E%3Cpath d='M4.39971 6.79995C3.95788 6.79995 3.59971 6.44178 3.59971 5.99995C3.59971 5.55812 3.95788 5.19995 4.39971 5.19995C4.84153 5.19995 5.19971 5.55812 5.19971 5.99995C5.19971 6.44178 4.84153 6.79995 4.39971 6.79995Z' fill='white'/%3E%3Cpath d='M5.89971 6.79995C5.45788 6.79995 5.09971 6.44178 5.09971 5.99995C5.09971 5.55812 5.45788 5.19995 5.89971 5.19995C6.34153 5.19995 6.69971 5.55812 6.69971 5.99995C6.69971 6.44178 6.34153 6.79995 5.89971 6.79995Z' fill='white'/%3E%3Cpath d='M7.39971 6.79995C6.95788 6.79995 6.59971 6.44178 6.59971 5.99995C6.59971 5.55812 6.95788 5.19995 7.39971 5.19995C7.84153 5.19995 8.19971 5.55812 8.19971 5.99995C8.19971 6.44178 7.84153 6.79995 7.39971 6.79995Z' fill='white'/%3E%3Cpath d='M8.89971 6.79995C8.45788 6.79995 8.09971 6.44178 8.09971 5.99995C8.09971 5.55812 8.45788 5.19995 8.89971 5.19995C9.34153 5.19995 9.69971 5.55812 9.69971 5.99995C9.69971 6.44178 9.34153 6.79995 8.89971 6.79995Z' fill='white'/%3E%3Cpath d='M10.4998 6.79995C10.058 6.79995 9.6998 6.44178 9.6998 5.99995C9.6998 5.55812 10.058 5.19995 10.4998 5.19995C10.9416 5.19995 11.2998 5.55812 11.2998 5.99995C11.2998 6.44178 10.9416 6.79995 10.4998 6.79995Z' fill='white'/%3E%3Cpath d='M11.9998 6.79995C11.558 6.79995 11.1998 6.44178 11.1998 5.99995C11.1998 5.55812 11.558 5.19995 11.9998 5.19995C12.4416 5.19995 12.7998 5.55812 12.7998 5.99995C12.7998 6.44178 12.4416 6.79995 11.9998 6.79995Z' fill='white'/%3E%3Cpath d='M13.4998 6.79995C13.058 6.79995 12.6998 6.44178 12.6998 5.99995C12.6998 5.55812 13.058 5.19995 13.4998 5.19995C13.9416 5.19995 14.2998 5.55812 14.2998 5.99995C14.2998 6.44178 13.9416 6.79995 13.4998 6.79995Z' fill='white'/%3E%3Cpath d='M14.9998 6.79995C14.558 6.79995 14.1998 6.44178 14.1998 5.99995C14.1998 5.55812 14.558 5.19995 14.9998 5.19995C15.4416 5.19995 15.7998 5.55812 15.7998 5.99995C15.7998 6.44178 15.4416 6.79995 14.9998 6.79995Z' fill='white'/%3E%3Cpath d='M16.5999 6.79995C16.1581 6.79995 15.7999 6.44178 15.7999 5.99995C15.7999 5.55812 16.1581 5.19995 16.5999 5.19995C17.0417 5.19995 17.3999 5.55812 17.3999 5.99995C17.3999 6.44178 17.0417 6.79995 16.5999 6.79995Z' fill='white'/%3E%3Cpath d='M15.3001 7.39993C14.8583 7.39993 14.5001 7.04175 14.5001 6.59993C14.5001 6.1581 14.8583 5.79993 15.3001 5.79993C15.7419 5.79993 16.1001 6.1581 16.1001 6.59993C16.1001 7.04175 15.7419 7.39993 15.3001 7.39993Z' fill='white'/%3E%3Cpath d='M14.5003 7.39993C14.0585 7.39993 13.7003 7.04175 13.7003 6.59993C13.7003 6.1581 14.0585 5.79993 14.5003 5.79993C14.9421 5.79993 15.3003 6.1581 15.3003 6.59993C15.3003 7.04175 14.9421 7.39993 14.5003 7.39993Z' fill='white'/%3E%3Cpath d='M14.0003 8.19998C13.5585 8.19998 13.2003 7.8418 13.2003 7.39997C13.2003 6.95815 13.5585 6.59998 14.0003 6.59998C14.4421 6.59998 14.8003 6.95815 14.8003 7.39997C14.8003 7.8418 14.4421 8.19998 14.0003 8.19998Z' fill='white'/%3E%3Cpath d='M12.9002 9.09988C12.4584 9.09988 12.1002 8.74171 12.1002 8.29988C12.1002 7.85805 12.4584 7.49988 12.9002 7.49988C13.342 7.49988 13.7002 7.85805 13.7002 8.29988C13.7002 8.74171 13.342 9.09988 12.9002 9.09988Z' fill='white'/%3E%3Cpath d='M12.0003 10.3999C11.5585 10.3999 11.2003 10.0418 11.2003 9.59993C11.2003 9.1581 11.5585 8.79993 12.0003 8.79993C12.4421 8.79993 12.8003 9.1581 12.8003 9.59993C12.8003 10.0418 12.4421 10.3999 12.0003 10.3999Z' fill='white'/%3E%3Cpath d='M11.4002 11.7999C10.9584 11.7999 10.6002 11.4418 10.6002 11C10.6002 10.5581 10.9584 10.2 11.4002 10.2C11.842 10.2 12.2002 10.5581 12.2002 11C12.2002 11.4418 11.842 11.7999 11.4002 11.7999Z' fill='white'/%3E%3Cpath d='M15.3001 6.19998C14.8583 6.19998 14.5001 5.8418 14.5001 5.39997C14.5001 4.95815 14.8583 4.59998 15.3001 4.59998C15.7419 4.59998 16.1001 4.95815 16.1001 5.39997C16.1001 5.8418 15.7419 6.19998 15.3001 6.19998Z' fill='white'/%3E%3Cpath d='M14.5003 6.19998C14.0585 6.19998 13.7003 5.8418 13.7003 5.39997C13.7003 4.95815 14.0585 4.59998 14.5003 4.59998C14.9421 4.59998 15.3003 4.95815 15.3003 5.39997C15.3003 5.8418 14.9421 6.19998 14.5003 6.19998Z' fill='white'/%3E%3Cpath d='M14.0003 5.39993C13.5585 5.39993 13.2003 5.04175 13.2003 4.59993C13.2003 4.1581 13.5585 3.79993 14.0003 3.79993C14.4421 3.79993 14.8003 4.1581 14.8003 4.59993C14.8003 5.04175 14.4421 5.39993 14.0003 5.39993Z' fill='white'/%3E%3Cpath d='M12.9002 4.39993C12.4584 4.39993 12.1002 4.04175 12.1002 3.59993C12.1002 3.1581 12.4584 2.79993 12.9002 2.79993C13.342 2.79993 13.7002 3.1581 13.7002 3.59993C13.7002 4.04175 13.342 4.39993 12.9002 4.39993Z' fill='white'/%3E%3Cpath d='M12.0003 3.19998C11.5585 3.19998 11.2003 2.8418 11.2003 2.39998C11.2003 1.95815 11.5585 1.59998 12.0003 1.59998C12.4421 1.59998 12.8003 1.95815 12.8003 2.39998C12.8003 2.8418 12.4421 3.19998 12.0003 3.19998Z' fill='white'/%3E%3Cpath d='M11.4002 1.79995C10.9584 1.79995 10.6002 1.44178 10.6002 0.999951C10.6002 0.558124 10.9584 0.199951 11.4002 0.199951C11.842 0.199951 12.2002 0.558124 12.2002 0.999951C12.2002 1.44178 11.842 1.79995 11.4002 1.79995Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: 14px 11px;
      width: 14px;
      height: 11px;
      margin-left: 10px;
    }
  }
}

.box-form {
  padding-top: 7.813vw;
  height: calc(100vh - 7.813vw);
  // padding-bottom: 50px;
  margin: auto;

  @include xl {
    padding-top: 150px;
    height: calc(100vh - 178px);
  }

  @include tablet {
    padding-top: 180px;
    // padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mobile {
    height: calc(100vh - 132px);
    padding-top: 133px;
    padding: 133px 25px 0;
  }

  .content {
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height: 34.583vw;
    width: auto;
    padding: 72px 62px 58px;

    @include tablet-small {
      min-height: 400px;
    }

    @include mobile {
      min-height: 432px;
      padding: 58px 25px 40px;
    }
  }
}

// 404 Page
.error-page {
  .account-heading {
    left: -7.813vw;
    right: auto;

    @include tablet {
      left: 40px;
    }

    @include mobile {
      top: 86px;
      transform: translate(0);
      left: auto;
      right: 60px;
    }
  }

  p {
    font-size: 16px;
    line-height: 16px;
  }
}

.account-page {
  form {
    >div:first-child {
      margin-bottom: 33px;

      @include mobile {
        margin-bottom: 6px;
      }
    }
  }
}

.contact-us {
  .account-heading {
    font-size: 80px;
    line-height: 80px;
    top: 32%;
    // left: -4%;
    left: 16%;
    right: auto;

    @include tablet {
      top: 22%;
      left: 10%;
    }

    @include mobile {
      font-size: 64px;
      line-height: 64px;
      top: 6%;
      left: auto;
      right: 10px;
    }
  }

  .bg-box {
    max-width: 664px;
  }

  .box-form {
    height: auto;
  }
}

.bg-box form .box-model {
  padding: 90px 111px;
  margin: 0;
  // min-height: calc(664px - 120px);
  height: 100%;
  max-width: 630px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  grid-row-gap: 0;

  @include tablet-small {
    padding: 80px;
  }
  @include mobile {
    // min-height: 460px;
    padding: 30px;
  }

  label+label,
  label+.select-2 {
    margin-top: 26px;
  }

  // .btn {
  //   margin-top: 70px;
  //   @include mobile {
  //     margin-top: 20px;
  //   }
  // }
  .col {
    label {
      margin-top: 0;
    }
  }

  .forgot-password {
    position: relative;

    &:hover {
      a {
        visibility: visible;
      }
    }

    a {
      font-size: 15px;
      line-height: 15px;
      color: #494949;
      text-decoration: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      visibility: hidden;

      @include mobile {
        visibility: visible;
      }
    }
  }
}

.col {
  margin: 0 -16px 22px;

  @include mobile-small {
    flex-direction: column;
    margin: 0;
  }

  .form-field {
    margin-bottom: 0;
    width: 50%;

    @include mobile-small {
      width: 100%;
      margin-bottom: 22px;
    }
  }

  >label,
  >div {
    padding: 0 16px;

    @include mobile {
      padding: 0;
    }
  }
}

.bg-box {
  width: 1030px;
  height: calc(100% - 50px);
  margin: auto;
  border: 1px solid #363636;
  backdrop-filter: blur(5px);
  background-color: var(--account-box);
  border-radius: 4px;

  @media screen and (max-width: 1279px) {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }

  @media screen and (max-width: 1023px) {
    max-width: 600px;
  }

  @media screen and (max-width: 767px) {
    max-width: none;
  }

  form {
    height: calc(100% - 44px);
  }
}

.bg-box-head {
  border-bottom: 1px solid #363636;
  padding: 13px 7px;

  @include mobile {
    padding: 8px 4px;
  }
}

.bg-box-head .dots {
  justify-content: flex-end;
}

.bg-box-head span {
  border: 1px solid #444444;
  border-radius: 35px;
  width: 17px;
  height: 17px;
  margin-right: 7px;

  @include mobile {
    width: 11px;
    height: 11px;
    margin-right: 4px;
  }
}

.error-message {
  line-height: 18px;
  margin-top: 0;
  padding-left: 10px;
  margin-top: 10px;

  p {
    margin-bottom: 0;
  }

  a {
    margin-left: 6px;
  }

  svg {
    margin-right: 10px;
    filter: drop-shadow(0px 4px 10px rgba(255, 0, 0, 0.5));
  }
}
.signup-page {
  height: auto;
}
